APP_NAME=cloud-science-platform
APP_ENV=production
DEBUG=false
HOST=0.0.0.0
PORT=8000

DATABASE_URL=postgresql://postgres:postgres@db:5432/cloudscience

AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your-production-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_SESSION_TOKEN=

ALLOWED_ORIGINS=http://localhost:80,http://127.0.0.1:80,http://<ec2-public-ip>,https://your-frontend-domain.com
API_PREFIX=/api
